@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: url('https://media1.giphy.com/media/fbJuHaI9AfYic/giphy.gif?cid=ecf05e47wm5tg69broc6oonr5ik0ibv87im48ph8gu1cmtry&rid=giphy.gif&ct=g');
    background-size: 100% 100%;
    height: 100vh;
    animation: gradient 50s ease infinite;
    font-family: 'Alegreya', serif;
    font-size: 1.5rem;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
    height: 40vh;
    background: #1C2833;
    background: url('https://media3.giphy.com/media/78tnf6zJoFIcFjWYme/giphy.gif?cid=ecf05e47em0uufe6gca6a3wluqkktf572rpm1az32sk5ejzq&rid=giphy.gif&ct=g');
    background-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    height: 100%;
    width: 50%;
    margin: 0px 0px;
    border: 2px solid lime;
    background: transparent;
}

nav img {
    width: 30%;
    margin: 50px auto 0px auto;
}

nav img:hover {
    filter: blur(2px);
}

.page-navigation {
    display: flex;
    justify-content: flex-end;
}

.page-navigation li {
    display: flex;
    padding: 10px;
}

.page-navigation li:hover {
    background: #0D1217;
    cursor: pointer;
}

.page-nav-buttons {
    font-family: sans-serif;
    font-size: 0.9rem;
    color: whitesmoke;
    padding: 0px 30px;
}

div {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
    margin: 40px auto;
    border: 2px dotted #F3C4FF;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
}

a {
    width: fit-content;
    text-decoration: none;
    color: #E67EFF;
}

div a:hover {
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    text-align: center;
}

pre {
    font-size: 1rem;
    white-space: pre-wrap;
}

h3 {
    font-size: 1rem;
    font-weight: 200;
    margin: 30px;
}

.imagen {
    width: 80%;
    border: 5px solid white;
}

iframe {
    margin: 20px;
    border: 5px solid #1C2833;
    width: 60%;
}

p {
    font-family: monospace;
    font-size: 1rem;
    padding: 0px 20px;
}

.volver {
    font-size: 1rem;
    margin: 20px;
}